#useDynLib(steeleLib)
# assignFolders.R
export(assignFolders)
# combineFiles.R
export(combineFiles)
# installBioc.R
export(install.bioc)
# clustering.R
export(kmeansAIC)
export(runHclust)
# PCAfuns.R
export(runPCA)
export(plotPCA)
# runHclustPCA.R
export(runHCPC)
# runPCA.R
export(fitKmeans)
export(fitHclust)
# runCombat.R
export(logit)
export(invlogit)
# betaDist.R
export(betaMean)
export(betaVar)
# survival.R
export(plotCox)
# geneCN.R
export(getGeneInfo)
export(getGeneCN)
export(getGeneHomDel)
export(getGeneLOH)
export(getGeneAmpDel)
# plotLM.R
export(plotLM)

importFrom('GenomicRanges','granges')
importFrom('stats','model.matrix')
importFrom('sva','sva','ComBat')
importFrom('doParallel','registerDoParallel')
importFrom('FactoMineR','HCPC')
import('org.Hs.eg.db')
import('AnnotationDbi')
importFrom("parallel","mclapply","detectCores")
