#useDynLib(steeleLib)
export(assignFolders)
export(champToGistic)
export(segToMarkers)
export(combineFiles)
#export(runConumee)
export(getMarkers)
export(plotVolcano)
export(install.bioc)
export(kmeansAIC)
export(mychamp.CNA)
export(champPipeline)
export(runPCA)
export(plotPCA)
export(plotByChrom)
export(plotAbber)
export(highlightInds)
export(runHCPC)
export(runMinfi)
export(runDMR)
export(fitKmeans)
export(fitHclust)
export(conumeeToGISTIC)
export(logit)
export(invlogit)
export(betaMean)
export(betaVar)
export(runHclust)
export(refactor)
export(minfiPipeline)
export(plotDMR)
export(sequenzaToGistic)
export(DMRinfo)

importFrom('conumee','CNV.create_anno','CNV.load','CNV.fit',
	'CNV.bin','CNV.detail','CNV.segment','CNV.genomeplot')
importFrom('minfi','read.metharray.sheet','read.metharray.exp',
	'preprocessRaw','mapToGenome','qcReport',
	'preprocessFunnorm','getM','getBeta','dropLociWithSnps',
	'pData','dmpFinder','bumphunter','detectionP','getManifest',
	'getAnnotation')
importFrom('GenomicRanges','granges')
importFrom('stats','model.matrix')
importFrom('sva','sva','ComBat')
importFrom('doParallel','registerDoParallel')
importFrom('copynumber','plotAberration')
importFrom('FactoMineR','HCPC')
import('CopyNumber450kData')
import('org.Hs.eg.db')
import('AnnotationDbi')
